<div class="container">
  <div class="row">
    <hr>
      <div class="col-sm-4">
        <div class="card-header"><strong>Personal Info</strong></div>
        <form role="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <!-- <label>First Name</label> -->
            <input type="text"  placeholder="First Name" formControlName="first_name" [ngClass]="{ 'error': signupForm.controls.first_name.errors?.required && signupForm.controls.first_name.touched }" />
            <div *ngIf="signupForm.controls.first_name.errors?.required && signupForm.controls.first_name.touched" class="invalid-feedback">
                <div *ngIf="signupForm.controls.first_name.errors?.required && signupForm.controls.first_name.touched">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <!-- <label>Last Name</label> -->
            <input type="text"  placeholder="Last Name" formControlName="last_name" [ngClass]="{ 'error': signupForm.controls.last_name.errors?.required && signupForm.controls.last_name.touched }" />
            <div *ngIf="signupForm.controls.last_name.errors?.required && signupForm.controls.last_name.touched" class="invalid-feedback">
                <div *ngIf="signupForm.controls.last_name.errors?.required && signupForm.controls.last_name.touched">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <select placeholder="Select Role" formControlName="role" class="form-group">
                <!-- <option [value]="undefined" disabled  selected> Please select one option </option> -->
                <option [ngValue]="null" disabled>Select Category</option>
                <option *ngFor="let item of roleList" [ngValue]="item" >{{item.name}}</option>
              </select>
          </div>
          <div class="form-group">
            <!-- <label>Username</label> -->
            <input type="text"  placeholder="Username" formControlName="username" [ngClass]="{ 'error': signupForm.controls.username.errors?.required && signupForm.controls.username.touched }" />
            <div *ngIf="signupForm.controls.username.errors?.required && signupForm.controls.username.touched" class="invalid-feedback">
                <div *ngIf="signupForm.controls.username.errors?.required && signupForm.controls.username.touched">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <!-- <label>Email address</label> -->
            <input type="text"  placeholder="Email address" formControlName="email" [ngClass]="{ 'error': signupForm.controls.email.errors?.required && signupForm.controls.email.touched }" />
            <div *ngIf="signupForm.controls.email.errors?.required && signupForm.controls.email.touched" class="invalid-feedback">
                <div *ngIf="signupForm.controls.email.errors?.required && signupForm.controls.email.touched">Email is required</div>
            </div>
            <div *ngIf="signupForm.controls.email.errors?.email && signupForm.controls.email.touched">Email must be a valid email address</div>
          </div>
        
          <div class="form-group">
              <!-- <label>Password</label> -->
            <input type="password"  placeholder="Password" formControlName="password"/>
            <!-- <div *ngIf="signupForm.controls.password.errors?.required && signupForm.controls.password.touched" class="invalid-feedback">
                <div *ngIf="signupForm.controls.password.errors?.required && signupForm.controls.password.touched">Password is required</div>
            </div> -->
          </div>
          <div *ngIf="isRegistered">
            <p>Email verification has been successfully sent to your email</p>
          </div>
          <!-- <button type="submit" class="button-login1">Register</button> -->
          <span *ngIf="!showUpdate"  class="pull-left"><button type="submit" class="button-register" >Create</button></span>
        </form>
        <span *ngIf="showUpdate"  class="pull-left"><button type="submit" class="button-register" (click)="UpdateUserById()">Update</button></span>
        <span class="pull-right"><button type="submit" class="button-cancel" (click)="resetForm()">Clear</button></span>
    </div>
    <div class="col-sm-8">
      <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
        
          <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef>Update</th>
              <td mat-cell *matCellDef="let element">
                <button class="btn btn-info" (click)=UpdateButtonUser(element._id)> <span class="glyphicon glyphicon-edit"></span></button> </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-danger" (click)=deleteUserById(element._id)> <span class="	glyphicon glyphicon-trash"></span></button> </td>
              </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
