<form role="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <!-- <label>First Name</label> -->
    <input type="text"  placeholder="First Name" formControlName="first_name"  [ngClass]="{ 'error': signupForm.controls.first_name.errors?.required && signupForm.controls.first_name.touched }" />
    <div *ngIf="signupForm.controls.first_name.errors?.required && signupForm.controls.first_name.touched" class="invalid-feedback">
        <div *ngIf="signupForm.controls.first_name.errors?.required && signupForm.controls.first_name.touched">First Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <!-- <label>Last Name</label> -->
    <input type="text"  placeholder="Last Name" formControlName="last_name" [ngClass]="{ 'error': signupForm.controls.last_name.errors?.required && signupForm.controls.last_name.touched }" />
    <div *ngIf="signupForm.controls.last_name.errors?.required && signupForm.controls.last_name.touched" class="invalid-feedback">
        <div *ngIf="signupForm.controls.last_name.errors?.required && signupForm.controls.last_name.touched">Last Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <!-- <label>Username</label> -->
    <input type="text"  placeholder="Username" formControlName="username" [ngClass]="{ 'error': signupForm.controls.username.errors?.required && signupForm.controls.username.touched }" />
    <div *ngIf="signupForm.controls.username.errors?.required && signupForm.controls.username.touched" class="invalid-feedback">
        <div *ngIf="signupForm.controls.username.errors?.required && signupForm.controls.username.touched">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <!-- <label>Email address</label> -->
    <input type="text"  placeholder="Email address" formControlName="email" [ngClass]="{ 'error': signupForm.controls.email.errors?.required && signupForm.controls.email.touched }"  />
    <div *ngIf="signupForm.controls.email.errors?.required && signupForm.controls.email.touched" class="invalid-feedback">
        <div *ngIf="signupForm.controls.email.errors?.required && signupForm.controls.email.touched">Email is required</div>
    </div>
    <div *ngIf="signupForm.controls.email.errors?.email && signupForm.controls.email.touched">Email must be a valid email address</div>
  </div>

  <div class="form-group">
    <input type="password"  placeholder="Password" formControlName="password" [ngClass]="{ 'error': signupForm.controls.password.errors?.required && signupForm.controls.password.touched }" />
    <div *ngIf="signupForm.controls.password.errors?.required && signupForm.controls.password.touched" class="invalid-feedback">
        <div *ngIf="signupForm.controls.password.errors?.required && signupForm.controls.password.touched">Password is required</div>
    </div>
  </div>
  <div *ngIf="isRegistered">
    <p>Confirmation email has been successfully sent to your email address</p>
  </div>
    <button type="submit" class="button-login1">Register</button>
</form>