    <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- <div class="imgcontainer">
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div> -->

        <div class="container">
            <!-- <div class="form-group" [ngClass]="{ 'has-error has-feedback': submitted && form.username.errors }"> -->
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" formControlName="username" placeholder="Username"  required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password"placeholder="Password" formControlName="password" required>
                
            <button type="submit">Login</button>
            <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container-button">
            <button type="button" class="cancelbtn">Register</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>







































































<!-- <div id="loginbox">            
    <form id="loginform" class="form-vertical" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
 <div class="control-group normal_text"> <h3><img src="../../../assets/img/logo.png" alt="Logo"></h3></div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                    <input type="text" placeholder="Username" formControlName="username">
                </div>
                <div *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched" class="error">
                    *Required
                  </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                    <input type="password" id="password" placeholder="Password" formControlName="password">
                </div>
                <div *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched" class="error">
                    *Required
                  </div>
            </div>
        </div>
        <span class="pull-left"><button type="submit"  class="btn btn-info">Lost password?</button></span>
        <span class="pull-right"><button type="submit"  class="btn btn-success">Submit</button></span>
    </form>
</div> -->