/*------------------------------------------------------------------
[Master Stylesheet]

Project:  CoolAdmin
Version:	1.0
Last change:	08/10/2018 [Add Define a table of contents Link]
Assigned to:	Hau Nguyen
Primary use:	Open Source
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[LAYOUT]

* body
    + Header / header
	+ Page Content / .page-content .name-page
        + Section Layouts / section .name-section
        ...
	+ Footer / footer

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
# [Color codes]

# Text Color (text): #666666
# Text Color Deep (Text, title): #333333

------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Typography]

Notes:	decreasing heading by 0.4em with every subsequent heading level
-------------------------------------------------------------------*/
/*-----------------------------------------------------*/
/*                   SETTINGS                          */
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*                   TOOLS                             */
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*                   GENERIC                           */
/*-----------------------------------------------------*/
/* ----- Normalize ----- */
/* * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0;
} */

/* ----- Typography ----- */
/* body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 3;
  color: #666;
  -webkit-font-smoothing: antialiased;
} */